#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/*NAV BAR*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 2px;
  background: #f0ead6;
  border-bottom-style: solid;
  border-bottom-color: #ff6f61;
  border-bottom-color: linear-gradient(90deg, rgba(255,111,97,0) 0%, rgba(255,111,97,1) 50%, rgba(255,111,97,0) 100%);
  padding: 10px 20px;
}

.navbar a {
  margin-right: 30px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.prijaviSeBtn {
  background-color: #ff6347;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.prijaviSeBtn:hover {
  background-color: #ff4500;
}

/*HOME PAGE*/
.home-container {
  text-align: center;
  padding: 50px;
  background-color: #f0ead6; 
}

.home-header {
  margin-bottom: 40px;
}

.home-header h1 {
  font-size: 2.5rem;
  color: #333;
}

.home-header p {
  font-size: 1.2rem;
  color: #666;
}

.home-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-left img, .image-right img {
  width: 250px;
  height: auto;
}

.image-right img {
  width: 200px; /* Prilagodite veličinu skuteriste */
}

/*ONE PRODUCT*/
.card {
  border-style: solid;
  border-width: 2px;
  background-color: #36454f;
  margin: 10px;
  padding: 10px;
  max-width: 200px;
}

.card-img-top {
  max-width: 200px;
}

.card-body h4 {
  color: #ff6f61;
  text-align: left;
}

.card-body h3, p {
  color: #f0ead6;
  text-align: left;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: white;
  font-size: 25px;
}

/*PRODUCTS*/
.all-products {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
